:root {
  --primary-color: #211D41;
  --title-color: #322153;
  --text-color: #6C6C80;
}

body {
  background: #F2F3F7;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Raleway;
}

header{
  display: flex;
  justify-content: center;
}
button{
  cursor: pointer;
}

.container{
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.form{
  /* background-color: mediumorchid; */
  width: 50%;
  height: 370px;
  margin-right: 20px;
  /* opacity: 10%; */
}
.map-form{
  width: 50%;
  height: 370px;
  margin-left: 20px;
  position: relative;
  /* opacity: 10%; */
}

.map{
  background-image: url("https://s3.portalt5.com.br/imagens/GOOGLE-MAPS-21-03-2018.png?mtime=20180321142411");
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
}
.map-shadow{
  display: block;
  width: 80%;
  height: 100px;
  background: rgba(96, 96, 96, 0.45);
  filter: blur(20px);
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: -1;
}
.table{
  background-color: white;
  width: 100%;
  height: 800px;
  border-radius: 50px;
  border: none;
  margin-bottom: 10%;
  z-index: -3;
  /* height: 100%; */
  /* opacity: 10%; */
}

label{
  color: var(--title-color);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.group-row{
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.col-30{
  width: 25%;
}
.col-40{
  width: 35%;
}
.col-60{
  width: 55%;
  margin-left: 46px;
}
.col-70{
  width: 65%;
  margin-left: 43px;
}

input{
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 50px;
  border: none;
  padding-left: 5%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* or 75% */

  letter-spacing: 0.02em;

  color: #A8A9B3;
}

.submit{
  width: 100%;
  height: 50px;
  left: 98px;
  top: 460px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: #F2F3F7;

  background: #6ECC3F;
  border: none;
  border-radius: 50px;
}

table{
  width: 100%;
}


th{
  text-align: start;
  color: var(--title-color);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border-bottom: 2px solid #C4C4C4;
}

td{
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  /* or 75% */

  letter-spacing: 0.02em;

  color: #A8A9B3;
}

.acoes{
  display: flex;
  justify-content: center;
}

.edit{
  margin-right: 5%;
  width: 70px;
  height: 40px;
  left: 998px;
  top: 664px;

  background: #3C6AFF;
  border-radius: 10px;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #F5FFFF;
}


.delete{
  margin-left: 5%;
  width: 70px;
  height: 40px;
  left: 998px;
  top: 664px;

  background: #FE6237;
  border-radius: 10px;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #F5FFFF;
}